{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - Acuueil
{% endblock %}

{% block wrapper %}
 <h1> Acueuil<h1>
 <div class='home_stat'>nomre de formation en cours </div>
 <div class='home_stat'>nomre de kikologues inscrit </div>	
{% endblock %}