{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - Acuueil
{% endblock %}

{% block wrapper %}
 <h1> Acueuil<h1>
 <div class='home_stat'>nombre de formation en cours: {{ nombrecours}} </div> 
 <div class='home_stat'>nombre de kikologues inscrites:  {{ nombreusers}} </div>

{{ form(recherche, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}