@import "reset.css";


/* body{
	background-color:lightgrey;
	margin:auto;
	width:85%;

}
 */

#wrapper{
	/* height:900px; */
	border-top:1px solid lightgrey;
	
	padding:20px;
	/* position:relative; */

}



#wrapper p{
	margin-top:15px;


}
#wrapper h3{
	margin-top:15px;

}

#wrapper li{
	margin-left:15px;
	line-height: 25px;

}

.liste a{
	text-transform:capitalize
}


h1{
	font-size:1.3em;
	font-weight: bold;
	
}



.MYCLASSFOR_LABEL{
	width:50px;
	display:block;
}

/* .menu li{
 float:left;
 padding:15px;

}

.menu{
	overflow:hidden;
} */

.home_stat{
	color:red;
}

#spancours{
	color:red;
	margin-left:40%;
	background-color:yellow;
}



#cours{
	background-color:pink;
}


.rouge{
	color:red;
	margin:20px;
}

.rouge a: hover{
	color:blue;
}


.green a{
	position: absolute;
	top:10px;
	left:100px;
	color:grey;
}

/**********************ajout mon css sur sur header et footer*******************/


.motcle{
	width:178px;
	height:30px;
}

.fond{
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:500px;

    z-index:-99;
	display:block;

}

footer{
	 position:fixed;
	top:850px;
	margin-left:20px;
	border-top:1px solid lightgrey;
	
}

section{
	text-align: center;
	
}

section h2{
	color:white;
	text-weight:bold;
	font-size:2.3em;
	line-height: 67px;
	background-color:grey;
	margin-left:10px;

}

 #recherche{
	position:absolute;
	top:540px;
	margin-left:30%;
	
} 
section p{
	color:white;
	
}

#formrecherche{
	
	width: 800px;
	height: auto;
	margin: auto;
	margin-top:480px; 
}

#formrecherche_box{
	margin-top:40px;
}


#formrecherche_box >label,#formrecherche_box>input,#formrecherche_box>select,#formrecherche_box>button{
	float:left;
	
} 

#formrecherce_box input[type='submit']{
	background-color:green;
	display:block;
}

#page a{
	/* position: absolute;
	top:75px;
	left:150px; */
	color:grey;
	font-style:italic;
}

.produits{
	margin-top:40px;
}



#descriptif{
	height:200px;
	border:1px solid lightgrey;
	padding-top:30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	font-size:0.9em;

}

.border{
	border:1px solid lightgrey;
	margin-top:20px;
}

#photograndformation{
	height:240px;
}

.buttonrouge a{
	color:white;
}

.formateur{margin-top:30px;}



/****************tous les autres formulaires*************/

label{
	width:200px;
	display:block;
	float:left;


} 

textarea{

width:400px;
height:300px;
margin-left:150px;
}
input,select{
	width:400px;
}

button{
background-color:red;
color:white;}

/***************create cours*************/
#createcours{

	margin-top:40px;
}

#xiaomei_xiaomeibundle_cours button{
clear:left;}

select{
	width:300px;
}

/************recherche formualire home *************/

#xiaomei_xiaomeibundle_recherchecours {
	margin-left:20%;
}

#xiaomei_xiaomeibundle_recherchecours input,#xiaomei_xiaomeibundle_recherchecours select,
#xiaomei_xiaomeibundle_recherchecours button{
	float:left ;
	width:160px;
	height:50px;
}
	

#xiaomei_xiaomeibundle_recherchecours button{
	background:red;
	width:160px;
	height:50px;
}

#xiaomei_xiaomeibundle_recherchecours button {
	color:white;
	font-weight: bold
}

/**********recherche keyword**********************************/
#motcle input ,#motcle input button{
	
	float:left;
	width:170px;
}

#motcle button{
	position:relative;
	width: 34px;
height: 26px;
background: blue;
color: white;
left: 153px;
top: -25px;
}


/***************showcours************************************/
#cours{
	margin-top:40px;
}

#formtri select,#formtri button{
 
    float:left ;
	width:100px;
	height:31px;

}

#accroche{
	color:green;
	font-style:italic;
	font-weight:bold;
}

/**********modifier profil*****************/

#xiaomei_xiaomeibundle_modifierprofil{margin-top:20px;}
#xiaomei_xiaomeibundle_modifierprofil textarea{

height:70px;
margin-left:-2px;
width:400px;


}

#xiaomei_xiaomeibundle_modifierprofil input,xiaomei_xiaomeibundle_modifierprofil select,
#xiaomei_xiaomeibundle_modifierprofil button{
	
	width:300px;
	height:40px;

}

#xiaomei_xiaomeibundle_modifierprofil button{
	margin-top:40px;
	clear:left;
}

/************xiaomei_xiaomeibundle_register*/
#xiaomei_xiaomeibundle_register{margin-top:20px;}
#xiaomei_xiaomeibundle_register  textarea{

height:100px;
margin-left:-2px;
width:400px;


}

#xiaomei_xiaomeibundle_register input,select,button{
	
	width:300px;
	height:40px;

}

#xiaomei_xiaomeibundle_register button{
	margin-top:40px;
	clear:left;
}
/******************page moncompte*********************/

#credit a{
	margin-right:10px;
	color:violet;
	font-weight: bold
}


#creditscore{
  color:red;
  font-weight: bold
}


#statistique button{
	width:120px;
	margin-left:40px;
}


/***************produit list************/
.produit_image {
	float:left;
	margin-left:30px;
	margin-bottom:30px;

}

.produit_image_lists {
	margin-top:30px;
}