{% extends "::base.html.twig" %}



{% block wrapper %}

Votre inscription a été bien confirmée.

Voulez vous d'autres formations?
<p><a href=" {{ path('xiaomei_xiaomei_showcoursall')}} "> Liste des cours </a></p>


{% endblock %}