{% extends "::base.html.twig" %}



{% block wrapper %}


vous n'avez pas assez de credit . 
merci de créer des formation pour avoir plus de credit dans votre compte .


<p><a href=" {{ path('xiaomei_xiaomei_create_cours')}} "> Liste des cours </a></p>


{% endblock %}