{% extends "::base.html.twig" %}



{% block wrapper %}


le cours est complète , vous pouvez essayer un autre cours dans le même catégorie 
<p><a href=" {{ path('xiaomei_xiaomei_showcoursall')}} "> Liste des cours </a></p>

  
{% endblock %}